* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
    color: azure;
}

header {
    display: flex;
    padding: 1.5rem;
}

.US {
    font-size: 5rem;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 30%;
}

.navig {
    display: flex;
    justify-content: right;
    width: 70%;
}

.navig_item {
    list-style: none;
    padding: 2.3rem;
    padding-top: 4rem;
}

.navig_item a {
    font-size: 2.3rem;
    text-decoration: none;
    color: azure;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

.sec {
    width: 58%;
    min-width: 65.6rem;
}

.bia {
    position: relative;
    font-size: 10rem;
    color: aquamarine;
    margin-left: 7.5rem;
    top: 1.7rem;
    min-width: 80rem;
}

.us {
    position: relative;
    font-size: 10rem;
    color: azure;
    margin-left: 7.5rem;
    bottom: 1.7rem;
}

.text {
    margin-bottom: 1.4rem;
    margin-left: 7.5rem;
    font-size: 2.5rem;                                                                                                                                                                                                                                                                                                                                                            
}

.navig2 {
    list-style: none;
    margin-left: 7.5rem;
    display: flex;
    font-size: 2.3rem;
    margin-top: 3.5rem;   
}

.navig2_item {
    text-align: center;
    padding: 0 1.8rem;
    border-radius: 3.5rem;
    border: 0.3rem solid aquamarine;
    padding-top: 0.9rem;
    padding-bottom: 1.2rem;
}

.navig2_item a{
    text-decoration: none;
    color: azure;
}

.li1 {
    margin-right: 2rem;
    background-color: aquamarine;
}

.pic {
    width: 42%;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
}   

img {
    height: 50%;
}