/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
    color: azure;
}

.inactive {
    display: none;
}

/* Header */
header {
    display: flex;
    padding: 1.1rem;
}

.US {
    list-style: none;
    padding-left: 1.8rem;
    padding-top: 1.8rem;
    width: 40%;
}

.US a {
    text-decoration: none;
    font-size: 4.3rem;
    color: azure;
    cursor: pointer;
}.US a:hover {
    color: rgb(114, 255, 208);
}

.navig {
    display: flex;
    justify-content: right;
    width: 60%;
}

.navig_item {
    list-style: none;
    padding: 1.8rem;
    padding-top: 3.2rem;
}

.navig_item a {
    font-size: 2rem;
    text-decoration: none;
    color: azure;
}

/* Questions and Options Containers*/
