* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
    color: azure;
}

header {
    display: flex;
    padding: 1.5rem;
}

.US {
    list-style: none;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 30%;
}

.US a {
    text-decoration: none;
    font-size: 5rem;
    color: azure;
    cursor: pointer;
}.US a:hover {
    color: rgb(114, 255, 208);
}

.navig {
    display: flex;
    justify-content: right;
    width: 70%;
}

.navig_item {
    list-style: none;
    padding: 2.3rem;
    padding-top: 4rem;
}

.navig_item a {
    font-size: 2.3rem;
    text-decoration: none;
    color: azure;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.aboutContainer {
    display: flex;
    width: 105rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.mainPic {
    width: 55%;
}

.mainImgp {
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.contTitleText {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.titleAbout {
    width: 100%;
    height: 20%;
    font-size: 4rem;
    padding: 2rem;
}

.textAbout {
    width: 77%;
    height: 80%;
    font-size: 1.7rem;
    margin: 0 auto;
}

.conIntegrers {
    width: 100%;
    justify-content: center;
}

.titleInte {
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
}

.contBlocks {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    justify-content: center;
}

.block {
    width: 26rem;
    margin: 0 2.5rem;
}

.intImg {
    width: 26rem;
    height: 24rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
} 

.nameAndC {
    width: 100%;
    padding-left: 1rem;
}

.name {
    font-size: 1.8rem;
    padding: 0.5rem 0;
}

.career {
    font-size: 1.1rem;
    padding-bottom: 2rem;
    color: gray;
}

.navig_item a:hover {
    color: rgb(114, 255, 208);
}