/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
    color: azure;
}

.inactive {
    display: none;
}

/* Header */
header {
    display: flex;
    padding: 1.1rem;
}

.US {
    list-style: none;
    padding-left: 1.8rem;
    padding-top: 1.8rem;
    width: 40%;
}

.US a {
    text-decoration: none;
    font-size: 4.3rem;
    color: azure;
    cursor: pointer;
}.US a:hover {
    color: rgb(114, 255, 208);
}

.navig {
    display: flex;
    justify-content: right;
    width: 60%;
}

.navig_item {
    list-style: none;
    padding: 1.8rem;
    padding-top: 3.2rem;
}

.navig_item a {
    font-size: 2rem;
    text-decoration: none;
    color: azure;
}

/* Questions and Options Containers*/
.questionsContainer {
    width: 100%;
    padding-top: 3rem;
}

.question {
    width: 62rem;
    background-color: #181818;
    margin: 0 auto;
    padding: 2.4rem 0;
    border: 0.3rem azure solid;
    border-radius: 1.5rem;
    margin-bottom: 2.5rem;
}

.question_q {
    width: 54rem;
    height: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 0.9rem;
}

.question_op {
    width: 80%;
    height: 6.5rem;
    background-color: azure;
    margin: 0 auto;
    margin-top: 1.7rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
    display: flex;
    border: 0.15rem gray solid;
    border-radius: 1.5rem;
}

/* Question Qst Inside */
/* .qstRP {
    font-size: 2rem;
} */

.qstRimg {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}

/* Question Option Inside */
.qstopP {
    font-size: 1.8rem;
    color: black;
    background-color: gray;
    padding: 2.1rem 0.15rem;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}

.qstopImg {
    width: 5rem;
    height: 100%;
}

.qstopT {
    font-size: 4rem;
    margin: auto 0;
    padding: 0 1.5rem;
    color: black;
}

/* Option Pressed */
.pressed {
    border: 0.3rem rgb(114, 255, 208) solid;
}

/* Button */
.cbutton {
    width: 7rem;
    height: 4rem;
    background-color: rgb(114, 255, 208);
    border-radius: 1.5rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    cursor: pointer;
}

.button {
    font-size: 1.4rem;
    padding: 1.2rem 0;
}

/* Result */
.cAnswer {
    width: 8rem;
    height: 5rem;
    background-color: #181818;
    border: 0.3rem gray solid;
    border-radius: 1.4rem;
    margin: 4rem auto;
    text-align: center;
}

.answer {
    font-size: 1.3rem;
    padding: 1.5rem 0;
}